.contact-list {
    display: flex;
    align-items: center;
}

.contact-list__item {
    margin-right: 40px;
}

.contact-list__item:last-child {
    margin-right: 0;
}

.contact-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover,
.contact-list__link:focus {
    color: var(--acent-text-color);
    fill: currentColor;
}

.contact-list__icon {
    margin-right: 10px;
}