
    $primaryTextColor: #757575;
    $titleTextColor: #212121;
    $acentTextColor: #2196f3;
    $witheTextColor: #ffffff;
    $blackTextColor: #000000;

    $heroBackgroundColor: rgba(47, 48, 58, 0.4);

    $acentButtonColor: #188ce8;

    $linkIconColor: #afb1b8;
    $footerIconCcolor: #ffffff;
    $footerIconBgColor: #43444d;
    $link-footer-color: rgba(255, 255, 255, 0.6);

    $mainPageColor: #ffffff;
    $secondaryPageColor: #f5f4fa;
    $footerColor: #2f303a;

        :root {
            --primary-text-color: #757575;
            --title-text-color: #212121;
            --acent-text-color: #2196f3;
            --withe-text-color: #ffffff;
            --black-text-color: #000000;
    
            --hero-background-color: rgba(47, 48, 58, 0.4);
    
            --acent-button-color: #188ce8;
    
            --link-icon-color: #afb1b8;
            --footer-icon-color: #ffffff;
            --footer-icon-bg-color: #43444d;
            --link-footer-color: rgba(255, 255, 255, 0.6);
    
            --main-page-color: #ffffff;
            --secondary-page-color: #f5f4fa;
            --footer-color: #2f303a;
        }
